*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nerko One', cursive, sans-serif;
    background-color: dodgerblue;
}

/* Container */
.container{
    width: 1000px;
    margin: 0 auto;
}

/* Titolo */
.titolo{
    text-align: center;
    font-size: 40px;
    padding-top: 30px;
    margin-bottom: 50px;
}

/* Clearfix */
.clearfix{
    content: '';
    display: table;
    clear: both;
}

/* Immagine1 */
.pattern1{
    /* display: inline-block; */
    background-image: url(../img/pattern.png);
    width: 200px;
    height: 250px;
    border-radius: 15px;
    background-size: contain;
    margin-left: 50px;
    float: left;
    margin-bottom: 20px;
}
   
/* Baloon */
.baloon{
    width: 200px;
    height: 200px;
    background-size: contain;
}

/* Cratteristiche-baloon */
.air-baloon{
    font-size: 30px;
    color: darkorchid;
    text-align: center;
}

/* Bicycle */
.bicycle{
    width: 200px;
    height: 200px;
    background-size: contain;
}

/* Caratteristiche-bici */
.bici{
    font-size: 30px;
    color: green;
    text-align: center;
}

/* Nave */
.ship{
    width: 200px;
    height: 200px;
    background-size: contain;
}

/* Caratteristiche-nave */
.ship-name{
    font-size: 30px;
    color: rgb(134, 134, 59);
    text-align: center;
}

/* Sottomarino */
.submarine{
    width: 200px;
    height: 200px;
    background-size: contain;
}

/* Descrizione-sottomarino */
.sottomarino-text{
    font-size: 30px;
    color: firebrick;
    text-align: center;
}

/* Trattore */
.tractor{
    width: 200px;
    height: 200px;
    background-size: contain;
}

/* Descrizione-trattore */
.tractor-text{
    font-size: 30px;
    color: rgb(243, 139, 139);
    text-align: center;
}

/* Tram */
.tram{
    width: 200px;
    height: 200px;
    background-size: contain;
}

/* Descrizione-tram */
.tram-text{
    font-size: 30px;
    color: turquoise;
    text-align: center;
}