*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nerko One', cursive, sans-serif;
    background-color: dodgerblue;
}


/* Titolo */
.titolo{
    text-align: center;
    font-size: 40px;
    padding-top: 30px;
}

/* Immagine1 */
.pattern1{
    background-image: url(../img/pattern.png);
    width: 200px;
    height: 250px;
    border-radius: 15px;
    background-size: contain;
    margin-left: 50px;
    /* display: none; */
}
   
/* Baloon */
.baloon{
    width: 200px;
    height: 200px;
    background-size: contain;
}

.air-baloon{
    font-size: 30px;
    color: darkorchid;
    text-align: center;
}